{% extends "base.html" %}

{% block head %}
<title>Astroport</title>

<link rel="stylesheet" href="css/minesweeper.css">
{% endblock %}

{% block content %}
<h1 id="astroport-name">Astroport Name</h1>

<input id="gate-1" value="first gate"/>
<br />
<input id="gate-2" value="second gate"/>
<br />
<input id="gate-3" value="third gate"/>
<br/>
<input id="ship-1" value="docked at gate 1"/>
<br />
<input id="ship-2" value="docked at gate 2"/>
<br />
<input id="ship-3" value="docked at gate 3"/>

<table>
<tr></tr>
</table>
{% endblock %}
